<main>
    <section class="form-section">
        <img src="/assets/jpeg/precojusto_jpeg.jpg" />
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
        <button class="btn-primary" (click)="submit()">{{primaryBtnText}}</button>
        <div class="divider">
            <div></div>
        <span>ou</span>
            <div></div>
        </div><!--divider-->
        <button class ="btn-secundary"(click)="navigate()">{{secundaryBtnText}}</button>
        </div><!--Btn-Wrapper-->
    </section>
    <section class="main-section">
        <h1>Preço Justo</h1>
        <img src="/assets/svg/precojusto_svg.svg"/>
    </section>
</main>