<app-default-login-layout 
    title="Logue na sua conta" 
    primaryBtnText="Logue agora" 
    secundaryBtnText="Cadastre-se agora"
    (submit)="submit()"
    (navigate)="navigate()"
>

<form [formGroup]="loginForm">
   <app-primary-input
        formControlName="email"
        inputName ="email"
        type="email"
        label="Seu Email"
        placeholder="email@host.com"
   >
        <img src="/assets/svg/mail_icon.svg"/>     
   </app-primary-input>

   <app-primary-input
   formControlName="password"
   inputName="password"
   type="password"
   label="Sua Senha"
>
   <img src="/assets/svg/lock_icon.svg"/>
</app-primary-input>
<span>Esqueci a senha</span>
</form>


</app-default-login-layout>